html, body, #container
{
   width: 100%;
   height: 100%;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_Image1
{
   vertical-align: top;
}

#wb_FontAwesomeIcon6
{
   background-color: #2E2E2E;
   background-image: none;
   border: 2px solid #D0D6D7;
   border-radius: 50%;
   text-align: center;
   margin: 0 10px 0 0 ;
   padding: 8px 8px 8px 8px;
   vertical-align: top;
}
#wb_FontAwesomeIcon6 a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#wb_FontAwesomeIcon6:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 2px solid #2E2E2E;
}
#FontAwesomeIcon6
{
   height: 120px;
   width: 134px;
}
#FontAwesomeIcon6 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 120px;
   line-height: 120px;
   vertical-align: middle;
   width: 119px;
}
#wb_FontAwesomeIcon6:hover #FontAwesomeIcon6 i
{
   color: #2E2E2E;
}
#wb_FontAwesomeIcon9
{
   background-color: #2E2E2E;
   background-image: none;
   border: 2px solid #D0D6D7;
   border-radius: 50%;
   text-align: center;
   margin: 0 10px 0 0 ;
   padding: 8px 8px 8px 8px;
   vertical-align: top;
}
#wb_FontAwesomeIcon9 a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#wb_FontAwesomeIcon9:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 2px solid #2E2E2E;
}
#FontAwesomeIcon9
{
   height: 120px;
   width: 134px;
}
#FontAwesomeIcon9 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 120px;
   line-height: 120px;
   vertical-align: middle;
   width: 119px;
}
#wb_FontAwesomeIcon9:hover #FontAwesomeIcon9 i
{
   color: #2E2E2E;
}
#wb_Image3
{
   vertical-align: top;
}
#Image3
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image1
{
   position: absolute;
   left: 0px;
   top: 0px;
   width: 396px;
   height: 704px;
   z-index: 0;
}
#wb_Image3
{
   position: absolute;
   left: 136px;
   top: 283px;
   width: 0px;
   height: 0px;
   z-index: 3;
}
#wb_FontAwesomeIcon9
{
   position: absolute;
   left: 221px;
   top: 317px;
   width: 134px;
   height: 120px;
   text-align: center;
   z-index: 2;
}
#wb_FontAwesomeIcon6
{
   position: absolute;
   left: 11px;
   top: 317px;
   width: 134px;
   height: 120px;
   text-align: center;
   z-index: 1;
}
@media only screen and (max-width: 940px) and (orientation: portrait)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#wb_Image1 {
   position: fixed; /* Fixer l'image à l'écran */
   top: 0;
   left: 0;
   width: 100vw; /* Prend toute la largeur de l'écran */
   height: 100vh; /* Prend toute la hauteur de l'écran */
   z-index: -1; /* Place derrière tout le contenu */
   overflow: hidden; /* Évite les débordements */
}

#Image1 {
   width: 100%; /* Adapte l'image à la largeur du conteneur */
   height: 100%; /* Adapte l'image à la hauteur du conteneur */
   object-fit: cover; /* Conserve les proportions de l'image */
   margin: 0;
   padding: 0;
   border: none;
}

#wb_FontAwesomeIcon6
{
   left: 18px;
   top: 293px;
   width: 145px;
   height: 128px;
   visibility: visible;
   display: inline;
   margin: 0 10px 0 0 ;
   padding: 8px 8px 8px 8px;
}
#FontAwesomeIcon6
{
   width: 145px;
   height: 128px;
}
#FontAwesomeIcon6 i
{
   line-height: 128px;
   font-size: 128px;
   width: 127px;
}
#wb_FontAwesomeIcon9
{
   left: 219px;
   top: 293px;
   width: 145px;
   height: 128px;
   visibility: visible;
   display: inline;
   margin: 0 10px 0 0 ;
   padding: 8px 8px 8px 8px;
}
#FontAwesomeIcon9
{
   width: 145px;
   height: 128px;
}
#FontAwesomeIcon9 i
{
   line-height: 128px;
   font-size: 128px;
   width: 127px;
}
#wb_Image3
{
   left: 136px;
   top: 283px;
   width: 0px;
   height: 0px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
}
