/* Appliquer un style de base */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/* Image de fond qui prend toute la largeur et hauteur */
#wb_Image1 {
    position: fixed;  /* Fixe l'image en arrière-plan */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;  /* L'image est derrière tous les autres éléments */
}

#Image1 {
    width: 100%;
    height: 100%;
    object-fit: cover;  /* L'image s'ajuste sans déformation */
}

/* Styles des icônes */
#wb_FontAwesomeIcon6, #wb_FontAwesomeIcon9 {
    position: absolute;  /* Position absolue pour superposer les icônes */
    background-color: #2E2E2E;
    border-radius: 50%;
    padding: 10px;
    text-align: center;
    border: 2px solid #D0D6D7;
    z-index: 1;  /* Pour que les icônes soient visibles au-dessus de l'image */
}

/* Positionner les icônes */
#wb_FontAwesomeIcon6 {
    top: 20px;  /* À partir du haut */
    left: 20px;  /* À partir de la gauche */
}

#wb_FontAwesomeIcon9 {
    top: 20px;  /* À partir du haut */
    right: 20px;  /* À partir de la droite */
}

#wb_FontAwesomeIcon6 i, #wb_FontAwesomeIcon9 i {
    color: #fff;
    font-size: 48px;  /* Taille de l'icône */
}

/* Quand l'utilisateur passe sa souris sur les icônes */
#wb_FontAwesomeIcon6:hover, #wb_FontAwesomeIcon9:hover {
    background-color: #fff;  /* Changer la couleur de fond */
    border-color: #2E2E2E;  /* Changer la couleur de bordure */
}

#wb_FontAwesomeIcon6:hover i, #wb_FontAwesomeIcon9:hover i {
    color: #2E2E2E;  /* Changer la couleur de l'icône au survol */
}

/* Responsive pour les petits écrans */
@media only screen and (max-width: 940px) and (orientation: portrait) {
    /* Ajustement de la taille des icônes pour les petits écrans */
    #wb_FontAwesomeIcon6 {
        top: 150px;  /* Plus bas pour plus d'espace */
        left: 10px;
        width: 100px;
        height: 100px;
    }

    #wb_FontAwesomeIcon9 {
        top: 150px;
        right: 10px;
        width: 100px;
        height: 100px;
    }

    #FontAwesomeIcon6 i, #FontAwesomeIcon9 i {
        font-size: 50px;  /* Taille d'icône plus petite */
        line-height: 100px;
    }
}
