html, body, #container {
    width: 100%;
    height: 100%;
}

body {
    background-color: #FFFFFF;
    color: #000000;
    font-family: Arial;
    font-weight: normal;
    font-size: 13px;
    line-height: 1.1875;
    margin: 0;
    padding: 0;
}

#wb_Image1 {
    vertical-align: top;
}

#Image1 {
    border: 0px solid #000000;
    border-radius: 0px;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#wb_FontAwesomeIcon6, #wb_FontAwesomeIcon9 {
    background-color: #2E2E2E;
    background-image: none;
    border: 2px solid #D0D6D7;
    border-radius: 50%;
    text-align: center;
    margin: 0 10px 0 0;
    padding: 8px;
    vertical-align: top;
    position: absolute;  /* Important to keep icons positioned correctly */
}

#FontAwesomeIcon6, #FontAwesomeIcon9 {
    width: 134px;
    height: 120px;
    text-align: center;
}

#FontAwesomeIcon6 i, #FontAwesomeIcon9 i {
    color: #FFFFFF;
    display: inline-block;
    font-size: 120px;
    line-height: 120px;
    vertical-align: middle;
    width: 119px;
}

#wb_FontAwesomeIcon6:hover, #wb_FontAwesomeIcon9:hover {
    background-color: #FFFFFF;
    background-image: none;
    border: 2px solid #2E2E2E;
}

@media only screen and (max-width: 940px) and (orientation: portrait) {
    /* Positionnement absolu de l'image */
    #wb_Image1 {
        left: 0px;
        top: 0px;
        width: 100%;
        height: auto;  /* Pour une meilleure flexibilité mobile */
    }

    /* Positionnement des icônes pour la version mobile */
    #wb_FontAwesomeIcon6, #wb_FontAwesomeIcon9 {
        position: fixed; /* Fixer les icônes en bas de l'écran */
        width: 100px;   /* Ajuster la taille des icônes pour les petits écrans */
        height: 100px;
        z-index: 10;  /* Assurez-vous que les icônes soient au-dessus de l'image */
    }

    /* Icône à gauche */
    #wb_FontAwesomeIcon6 {
        left: 10px;  /* Légèrement à gauche */
        bottom: 50px; /* Un peu au-dessus du bas de l'écran */
    }

    /* Icône à droite */
    #wb_FontAwesomeIcon9 {
        right: 10px; /* Légèrement à droite */
        bottom: 50px; /* Un peu au-dessus du bas de l'écran */
    }

    /* Ajustement de la taille de l'icône */
    #FontAwesomeIcon6 i, #FontAwesomeIcon9 i {
        font-size: 50px; /* Taille réduite pour les icônes sur mobile */
        line-height: 100px;
    }
}
